<!doctype html>
<html>
  <head>
    <meta property="og:type" content="website">
<meta property="og:url" content="https://studymath.xyz">
<meta property="og:title" content=" Platinum Proxy">
<meta property="og:description" content="Unblock Blocked Websites">
<meta property="og:image" content="https://linkfork.co/images/poster.png">
    <style>
      body {
        background: rgba(255, 255, 255, 0.8);
      }

       input[type=text] {
  background-color: #99ccff;
  color: #black;
  width: 100%;
  height: 100px
  border-radius: 6px;
  x: 50;
  y: 70;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>

    <title>Platinum Proxy</title>

    <link rel="icon" href="https://i.ibb.co/bLZJdP7/C56531-EA-0-EDA-4-C87-AA98-C11-C4-C27-F553.jpg">

  </head>

  <body>
    
      <div class="grid-item"><img height="400" width="500" src="https://i.ibb.co/RyvdM44/C80-FAE8-B-0-C18-41-B2-924-B-8-C967100-D966.png"</div>
        
    <div class="grid-item">
    
        Platinum Proxy
        <form action="/learn/" method="post" id="url-form" enctype="application/x-www-form-urlencoded">
          <input type="text" id="todo" name="todo" value=""></form></div>
  
  </body>

</html>