<!doctype html>
<html>
  <head>
    <title>Study Math!</title>
    <style>
      body {
        background-color:darkcyan;
      }
      .lesson1 {background-color: #4CAF50;}
    </style>
  </head>
  <body>
    <div class="logo">
      <svg width="400" height="180">
  <rect x="10" y="10" rx="20" ry="20" width="240" height="70"
  style="fill:3333ff;stroke:black;stroke-width:5;opacity:0.5" />
  <text fill="#e6f3ff" font-size="40" font-family="Verdana" x="16" y="60">Study Math</text>
</svg>
    </div>
    <div class="lessons">
        <button onclick="window.location.href='/lesson=1'" class="button lesson1">Lesson 1</button>
        <button onclick="window.location.href='/lesson=2'" class="button lesson1">Lesson 2</button>
    </div>
    </div>
  </body>
</html>